li {
  list-style: none;
}

a,
a:visited {
  color: #000;
}

/* mobile nav */
.hamburger {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hamburger img {
  height: 3rem;
}

.navbar {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 5;
}

.nav-item {
  padding: 2rem;
}
.nav-item:active {
  transform: scale(0.8);
}

.nav-link {
  transition: 0.3s ease;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  color: #8789c0;
  border-bottom: #8789c0 solid 1px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    position: unset;
  }
  .nav-menu {
    width: 60rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  .nav-link {
    font-size: 1.5rem;
  }
  .nav-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    height: 3rem;
  }
}
