html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

body {
  background-color: white;
}

.main-body {
  max-width: 90rem;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a59db7;
  padding: 2rem 0.5rem;
  height: 18vh;
}

h1 {
  font-weight: 500;
  font-size: 7rem;
  color: black;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
}

h2 {
  font-weight: 300;
  font-size: 35px;
  color: black;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
}

.icons {
  display: flex;
}
.icons img {
  width: 4rem;
  margin: 0.5rem;
}

header .icons img:hover {
  transform: scale(1.2);
}

header .icons img:active {
  transform: scale(0.9);
}

h3 {
  font-weight: 400;
  color: black;
  text-align: center;
  font-size: 3rem;
  font-family: "Amatic SC", sans-serif;
}

h4 {
  font-weight: 100;
  font-size: 2.5rem;
  font-family: "Amatic SC", cursive;
}

p {
  color: black;
  font-size: 1.5rem;
}

.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-body {
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 82vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-body::-webkit-scrollbar {
  display: none;
}

.line-border {
  border-color: #a59db7;
  border-style: solid none none none;
  border-width: 0.1rem;
  margin: 0 1rem;
}

.about {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
  align-items: center;
  width: 15rem;
}

.overlay-container {
  position: relative;
}

.work-container {
  display: grid;
  grid-template-columns: auto auto;
}

.preview {
  width: 15rem;
  border-radius: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 15rem;
  height: 15rem;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #a59db7;
  border-radius: 1rem;
}

.overlay-container:hover .overlay {
  opacity: 0.92;
}

.overlay-container:active {
  transform: scale(0.9);
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview-text {
  width: 15rem;
}

.contact .icons {
  flex-direction: column;
  align-items: center;
  width: auto;
}
.contact .icons p {
  font-size: 1.6rem;
  padding: 0.5rem;
}
.contact .icons a {
  display: flex;
  align-items: center;
}
.contact .icons a img:hover {
  transform: scale(1.2);
}
.contact .icons a:active {
  transform: scale(0.9);
}

@media screen and (min-width: 768px) {
  .main-body {
    display: flex;
    flex-direction: column;
  }
  .preview {
    width: 35rem;
  }
  .preview-text {
    width: 35rem;
  }
  .overlay {
    width: 35rem;
    height: 35rem;
  }
  .text {
    font-size: 3rem;
  }
  .box {
    justify-items: center;
  }
  .contact .icons {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 70rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .work-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}/*# sourceMappingURL=styles.css.map */