// colours
$background: white;
$duskypurple: #a59db7;
$majorHeader: black;
$minorHeader: #a08ccf;
$mainText: black;

// mixins
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

body {
  background-color: $background;
}

// header
.header-logo {
  @include flexColumn;
  align-items: center;
  background-color: $duskypurple;
  padding: 50px 5px;
  img {
    width: 100px;
  }
}
h1 {
  font-weight: 500;
  font-size: 60px;
  color: $majorHeader;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
}
h2 {
  font-weight: 300;
  font-size: 30px;
  color: $majorHeader;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
}
.icons {
  display: flex;
  img {
    width: 35px;
    margin: 5px;
  }
}
.contact {
  justify-content: center;
  display: flex;
  .icons {
    @include flexColumn;
    p {
      font-size: 12px;
    }
    a {
      display: flex;
      align-items: center;
    }
  }
}

// headings
h3 {
  font-weight: 400;
  color: $majorHeader;
  text-align: center;
  font-size: 30px;
  font-family: "Amatic SC", sans-serif;
}
// main text
p {
  color: $mainText;
  font-size: 17px;
}
// about
.about {
  margin: 10px;
}
// previews
.container {
  position: relative;
}
.preview {
  width: 250px;
  border-radius: 15px;
}
.preview-text {
  width: 250px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 250px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $duskypurple;
  border-radius: 15px;
}
.container:hover .overlay {
  opacity: 0.85;
}
.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.myWork {
  @include flexColumn;
}

.box {
  @include flexColumn;
  margin: 20px 10px;
  align-items: center;
}

h4 {
  color: $duskypurple;
  font-size: 25px;
  font-family: "Amatic SC", cursive;
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 250px;
    flex-direction: row;
    width: 100%;
    float: left;
    h1 {
      justify-content: center;
    }
  }
  .preview {
    width: 350px;
    margin-right: 10px;
  }
  .preview-text {
    width: 350px;
  }

  .box {
    flex-direction: row;
    width: 700px;
    justify-items: center;
  }
  .contact {
    .icons {
      flex-direction: row;
    }
  }
}
