// colours
$background: white;
$duskypurple: #aca5bc;
$majorHeader: black;
$minorHeader: #a08ccf;
$mainText: black;

// mixins
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

body {
  background-color: $background;
}

// header
.header-logo {
  @include flexColumn;
  align-items: center;
  background-color: $duskypurple;
  padding: 20px 5px;
  img {
    width: 100px;
  }
}
h1 {
  font-weight: 500;
  font-size: 40px;
  color: $majorHeader;
  text-align: center;
}
h2 {
  font-weight: 300;
  font-size: 30px;
  color: $majorHeader;
  text-align: center;
}

// headings
h3 {
  font-weight: 400;
  color: $majorHeader;
  text-align: center;
  font-size: 30px;
}
// main text
p {
  color: $mainText;
  font-size: 20px;
}
// previews
.preview {
  width: 250px;
  margin-right: 10px;
  border-radius: 15px;
}
.preview:hover,
.preview:active {
  transform: rotate(-20deg);
  cursor: pointer;
}
.myWork {
  @include flexColumn;
}
.box {
  @include flexColumn;
  margin: 20px 10px;
  align-items: center;
}

h4 {
  color: $minorHeader;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 250px;
    flex-direction: row;
    width: 100%;
    float: left;
    h1 {
      justify-content: center;
    }
  }
  .preview {
    width: 350px;
    img {
      padding: 5px;
    }
  }
  .preview-text {
    width: 350px;
  }

  .box {
    flex-direction: row;
    width: 700px;
    justify-items: center;
  }
}
